/*
 * Globals
 */

/* Links */
h1 {
    font-weight: bold;
    color: rgba(0, 102, 204, 0.883);
}

h2 {
    font-size: 14pt;
    font-weight: bold;
    color: black;
}

h3 {
    font-size: 10pt;
    font-weight: bold;
    color: black;
}

h5 {
    padding: 1.5em;
    font-weight: bold;
    background-color: #fff;
    border: 0.05rem solid #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
    background: #333 url(../img/fondo.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    padding-top: 3.5rem;
    display: -ms-flexbox;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: #efddbf;
}

.jumbotron-wc1 {
    padding: 1rem 1rem;
    margin-top: 0em;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: #b17610;
}

.jumbotron-wc2 {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0.5px;
    border-radius: 1rem;
    background: url(../img/fondo.gif) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: 0.2rem 0.25rem;
    font-weight: 700;
}

#wc-center::placeholder {
    color: red;
    text-align: center;
    padding-top: 30px;
}

main > .container {
    padding: 5px 15px 0;
}

table {
    width: 100%;
    border: 1px solid rgb(7, 186, 61);
    border-collapse: separate;
    border-spacing: 10px;
    background: rgb(91, 12, 12) url('../img/fondo.gif') bottom center repeat-x;
    color: #fff;
}

td,
th {
    width: 25%;
    text-align: center;
    font-size: 1.3em;
    vertical-align: center;
    border: 1px solid rgb(7, 186, 61);
    padding: 0.3em;
    color: rgb(231, 235, 11);
}

/*
 * Navbar
 */

.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 7px;
}

.mx-bg-top-linear {
    background: -webkit-linear-gradient(45deg, #54d400 48%, #1b1e21 48%);
    background: -webkit-linear-gradient(left, #54d400 48%, #1b1e21 48%);
    background: linear-gradient(45deg, #b17610 48%, #1b1e21 48%);
}

/*
 * Footer
 */

.wcfooter {
    color: rgba(255, 255, 255, 0.5);
    background-color: #f5f5f5;
}

.wcfooter > .container {
    padding-right: 15px;
    padding-left: 15px;
}
